/*内容详情页的样式*/
* {
    margin: 0;
    padding: 0;
    font-size: 12px;
}

body {
    /*background-color:#111111; */
    /*background: rgba(0, 0, 0, 0.85);*/
    overflow: hidden;
}


.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    /*background-color: #2f3238;*/
}

.header a {
    position: relative;
    display: block;
    text-decoration: none;
    /*color: white;*/
}

.header a:hover {
    color: white;
}


.header .left {
    display: inline-block;
    width: 33.3%;
}

.header .left img {
    margin-left: 20px;
    margin-top: 20px;
    width: 60px;
    height: 60px;
}

.logo {
    display: absolute;
    top: 5px;
    left: 5px;
}

.header .button {
    display: inline-block;
    position: absolute;
    top: 30px;
    width: 33.3%;
    text-align: center;
}

.header .button img {
    margin: 5px;
}

.header .right {
    float: right;
}

.rightContent {
    display: block;
    margin-top: 25px;
    float: right;
}

.rightLink {
    display: block;
    margin-left: 20px;
    margin-top: 5px;
    float: right;
}

.header .right ul {
    display: block;
    margin-bottom: 0;
    font-size: 16px;
    padding-left: 0;
    list-style: none;
}

.header .right ul li {
    float: left;
    position: relative;
}

.header .right ul li a {
    display: block;
    padding: 10px 20px;
    color: #C2C1C1;
    font-family: "Source Sans Pro", Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    -moz-transition: all 2s ease;
    -webkit-transition: all 2s ease;
    transition: all 2s ease;
    /*color:#000;*/
}

.header .right ul li a:hover {
    color: white;
}

.header .right .rightWrap img {
    width: 48px;
    height: 48px;
}

/*content*/
#contentWrapper {
    width: 100%
}

#picContent {
    display: block;
}

.spanText {
    color: white;
    font-size: 18px;
    width: 800px;
    height: 600px;
    float: right;
}

.spanText span {
    color: white;
    font-size: 50px;
    float: right;
    margin-right: 80px;
    margin-bottom: 95px;
}

.scrollText {
    width: 80%;
    height: 400px;
    float: right;
    margin-right: 90px;
    /* background-image: url(../image/blackboard.png); */
    opacity: 1;
    background-size: 100% 100%;
    background-repeat: repeat;
    overflow: hidden;
}

.scrollText ul{
    /*margin: 40px 40px;*/
}
.scrollText li {
    margin: 20px 0 20px 250px;
    list-style: none;
}

.scrollText li.lieven {
    background: #F0F2F3;
}

.scrollText li p {
    color: #ffffff;
    font: normal 12px/24px Arial;
    font-size: 18px;
    /*height: 20px;*/
    line-height: 22px;
}

.scrollText li p a {
    float: left;
}

.slide {
    width: 100%;
    height: 100%;
    background-repeat: repeat;
}

/*底部链接部分*/

#footer {
    position: absolute;
    width: 100%;
    height: 80px;
    bottom: 0;
    z-index: 1000;
    text-align: center;
    font-size: 16px;
    color: #ffffff;
}

#footer ul {
    width: 100%;
    height: 100px;
    overflow: hidden;
}

#footer ul li {
    list-style: none;
    display: inline-block;
    font-size: 16px;
    line-height: 50px;
    width: 270px;
    height: 50px;
    border-left: 1px solid #ffffff;
    margin-right: 5px;
}

#footer ul li :active {
    list-style: none;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    line-height: 50px;
    width: 270px;
    height: 50px;
    border-left: 1px solid #ffffff;
    margin-right: 5px;
}

#footer ul li:last-child {
    border-right: 1px solid #ffffff;
    margin-right: 0px;
}

#footer ul li a {
    text-decoration: none;
    font-size: 16px;
    line-height: 50px;
    height: 50px;
    color: #ffffff;
}

